<div class='row d-flex mt-3 justify-content-center'>
    <div class='col-8'>
        <div class='update-post'>
            <!-- Update Posts -->
            <form class='form update-post-form'>
                <h2 class='post-title p-2'>Update Post</h2>
                <!-- Add form fields for blog post -->
                <!-- Example: -->
                <div class='p-3'>
                    <label
                        class='form-label'
                        for='update-post-title'
                    >Title:</label>
                    <input
                        class='form-control'
                        type='text'
                        id='update-post-title'
                        name='update-post-title'
                    />
                    <label
                        class='form-label'
                        for='update-post-content'
                    >Content:</label>
                    <textarea
                        class='form-control'
                        id='update-post-content'
                        name='update-post-content'
                    ></textarea>
                    <div class='text-center'>
                        <button
                            class='btn btn-secondary mt-3 w-100'
                            type='submit'
                            id='update-post-btn'
                        >Update</button>
                    </div>
                    <div class='text-center'>
                        <button
                            class='btn btn-secondary mt-3 w-100'
                            type='submit'
                            id='del-post-btn'
                        >Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>