:root {
    /* declare a variable with `--` syntax */
    --primary-theme-color: rgb(118, 128, 201);
    --secondary-theme-color: rgb(80, 78, 80);
    --text-light-color: rgb(255, 255, 255);
    --text-dark-color: rgb(95, 15, 100);
    --main-bg-color:rgb(214, 214, 214);    
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6d6d6;
}

header {
    background-color: var(--primary-theme-color);
    color: var(--text-light-color);
}

nav {
    background-color: var(--secondary-theme-color);
}

.nav-link {
    color: var(--text-light-color);
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post,
.comment,
.login,
.new-post,
.update-post,
.signup {
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 4px;
}
.post-title,
.comment-title,
.login-title,
.signup-title {
    background-color: var(--secondary-theme-color);
    color: var(--text-light-color);
}
.post-title a {
    color: var(--text-light-color);
    text-decoration: none;
}

.comments,
.add-comment {
    color: var(--text-dark-color);
}

.post-list-item {
    background-color: var(--primary-theme-color);
    color: var(--text-light-color);
    border-radius: 4px;
}

.new-post,
.update-post {
    display: none;
}

.post-list-item a {
    color: var(--text-light-color);
    text-decoration: none;
}
